body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border: #444444 1px solid;
}

h1 {
  background-color: #d4af37;
  text-align: center;
  border-radius: 10px;
  -webkit-text-stroke: 2px #1a1f36;
  padding: 10px;
}

h2 {
  background-color: #e6f0ff;
  color: #1a1f36;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border-radius: 10px;
  border-left: #81c784 10px solid;
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  background-color: #2b2b2b;
  border-radius: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border-left: #bdbdbd 10px solid;
  margin-top: 20px;
  margin-bottom: 30px;
}

img {
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(212, 175, 55, 0.35);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
  border: rgba(255, 255, 255, 0.4) 2px solid;
}

iframe {
  border-radius: 10px;
  box-shadow: 20px 40px 80px rgba(212, 175, 55, 0.35);
  margin-left: 15px;
  margin-bottom: 50px;
  border: rgba(255, 255, 255, 0.4) 2px solid;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  color: #eaeaea;
}

h4 {
  background-color: #1a1f36;
  border-radius: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border-left: #4dd0e1 10px solid;
}

audio {
  margin-left: 5px;
  margin-bottom: 20px;
  width: 60%;
  border-radius: 40px;
  box-shadow:
    0 10px 30px rgba(255, 255, 255, 0.18),
    0 0 20px rgba(212, 175, 55, 0.25);
}
