html {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(244, 233, 233);
}
